@model showroomManagement.Models.UsedCar

<div class="col-lg-4 col-md-6">
    <div class="car-box-3">
        <div class="car-thumbnail">
            <a href="#" class="car-img">
                <div class="for">For Sale</div>
                <div class="price-box">
                    <span>Rs @Model.Demand</span>
                </div>
                @*<img class="d-block w-100" src="~/theme/assets/img/car/car-1.jpg" alt="car">*@
                <img class="d-block w-100" src="~/@Model.Car.CarImage1" alt="car">
            </a>
            <div class="carbox-overlap-wrapper">
                <div class="overlap-box">
                    <div class="overlap-btns-area">
                        <a class="overlap-btn" data-bs-toggle="modal" data-bs-target="#carOverviewModal">
                            <i class="fa fa-eye-slash"></i>
                        </a>
                        <a class="overlap-btn wishlist-btn">
                            <i class="fa fa-heart-o"></i>
                        </a>
                        <a class="overlap-btn compare-btn">
                            <i class="fa fa-balance-scale"></i>
                        </a>
                        <div class="car-magnify-gallery">
                            <a href="~/theme/assets/img/car/car-1.jpg" class="overlap-btn" data-sub-html="<h4>Lamborghini</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy....</p>">
                                <i class="fa fa-expand"></i>
                                <img class="hidden" src="~/theme/assets/img/car/car-1.jpg" alt="hidden-img">
                            </a>
                            <a href="~/theme/assets/img/car/car-2.jpg" class="hidden" data-sub-html="<h4>Ferrari Red Car</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy....</p>">
                                <img class="hidden" src="~/theme/assets/img/car/car-2.jpg" alt="hidden-img">
                            </a>
                            <a href="~/theme/assets/img/car/car-3.jpg" class="hidden" data-sub-html="<h4>Bmw e46 m3 Diski Serie</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy....</p>">
                                <img class="hidden" src="~/theme/assets/img/car/car-3.jpg" alt="hidden-img">
                            </a>
                            <a href="~/theme/assets/img/car/car-4.jpg" class="hidden" data-sub-html="<h4>Volkswagen Scirocco 2016</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy....</p>">
                                <img class="hidden" src="~/theme/assets/img/car/car-4.jpg" alt="hidden-img">
                            </a>
                            <a href="~/theme/assets/img/car/car-5.jpg" class="hidden" data-sub-html="<h4>Porsche Cayen Last</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy....</p>">
                                <img class="hidden" src="~/theme/assets/img/car/car-5.jpg" alt="hidden-img">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="detail">
            <h1 class="title">
                <a href="car-details.html">@Model.Car.Name</a>
            </h1>
            <ul class="custom-list">
                <li><a href="#">@Model.Car.Company.Name</a> /</li>
                <li><a href="#">Automatic</a> /</li>
                <li>
                    <a href="#">@Model.Car.CarType.Name</a>
                </li>
            </ul>
            <ul class="facilities-list clearfix text-capitalize">
                <li><i class="flaticon-fuel"></i> Petrol</li>
                <li><i class="flaticon-manual-transmission"></i>  Automatic</li>
                <li><i class="flaticon-way"></i> @Model.Car.HoursePower</li>
                <li><i class="flaticon-manual-transmission"></i> @Model.Car.EngineCapacity</li>
                <li><i class="fa fa-child "></i> @Model.Car.SittingCapacity</li>
                <li><i class="flaticon-calendar-1"></i> @Model.ModelYear</li>
            </ul>
        </div>
        <div class="footer clearfix">
            <div class="pull-left ratings">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
                <span>(65 Reviews)</span>
            </div>
            <ul class="pull-right icon">
                <li>
                    <a href="javascript:void(0)"><i class="fa fa-heart-o"></i></a>
                </li>
                <li>
                    <a href="javascript:void(0)"><i class="fa fa-share-square-o"></i></a>
                </li>
            </ul>
        </div>
    </div>
</div>
