@model IEnumerable<showroomManagement.Models.Purchase>

@{
    ViewData["Title"] = "PurchaseDetail";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<!-- begin app-main -->
<div class="app-main" id="main">
    <!-- begin container-fluid -->
    <div class="container-fluid">
        <!-- begin row -->
        <div class="row">
            <div class="col-md-12 m-b-30">
                <!-- begin page title -->
                <div class="d-block d-lg-flex flex-nowrap align-items-center">
                    <div class="page-title mr-4 pr-4 border-right">
                        <h1>PurchaseDetail</h1>
                    </div>
                    <div class="breadcrumb-bar align-items-center"></div>
                </div>
                <!-- end page title -->
                <!---------------------->
                <div class="card-body">
                    <div class="accordion" id="accordionsimplefill">
                        <table class="table" id="myTable">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.PurchaseDate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Quantity)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TotalAmount)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.AmountPaid)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.AmountDue)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Car)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Vendor)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.PurchaseDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Quantity)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TotalAmount)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.AmountPaid)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.AmountDue)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Car.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Vendor.Name)
                                        </td>
                                        <td>
                                            <a class="btn btn-danger" asp-action="PurchaseDelete" asp-route-id="@item.Id">Delete</a>
                                            @*<a asp-action="PurchaseUpdate" asp-route-id="@item.Id">Edit</a> |*@

                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end container-fluid -->
</div>
<!-- end app-main -->
